/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

:root .lpx-brand-logo {
  --lpx-logo: url('/assets/images/logo/logo-light.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}

:root {
  --syper-primary-color: #007bff;
  --syper-secondary-color: #6c757d;
  --syper-success-color: #28a745;
  --syper-danger-color: #dc3545;
  --syper-warning-color: #ffc107;
  --syper-info-color: #17a2b8;
  --syper-light-color: #f8f9fa;
  --syper-dark-color: #343a40;


  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');

  .abp-logo {
    background-repeat: no-repeat;
  }

  .abp-support {
    width: 178px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-support.svg');
  }

  .abp-community {
    width: 215px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-community.svg');
  }

  .abp-blog {
    width: 142px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-blog.svg');
  }

  .logo-x {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/getting-started/x.svg');
  }

  .p-progressbar-value {
    margin: 0;
    background: var(--p-progressbar-value-background, var(--syper-primary-color)); /* fallback */
  }

}