.list {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
}

.box {
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #999;
  background-color: #fff;
  cursor: move;
}

.handle {
  float: right;
  cursor: move;
  width: 24px;
  height: 24px;
}

.workoutList {
  min-height: 2rem;
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

button.mr-0_5, input.mr-0_5 {
  margin-right: 0.5rem !important;
}