.list {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
}

.box {
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #999;
  background-color: #fff;
  cursor: move;
}

.handle {
  float: right;
  cursor: move;
  width: 24px;
  height: 24px;
}